.multi_lines_text { 
    margin-bottom: 2rem;
    white-space:pre-wrap; 
}

.button-row{
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

a{
    color: white !important;    
}

.button-row-end{
    margin-top: 20px;
}